<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações de Conexão com Banco de Dados -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/drogaria</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>

		<!-- Poll de Conexão -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento do Contexto das Sessões -->
		<property name="current_session_context_class">thread</property>

		<!-- Cache de Segundo Nível -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as sql geradas no console -->
		<property name="show_sql">true</property>

		<!-- Cria as tabelas no Banco de Dados -->
		<property name="hbm2ddl.auto">validate</property>
		
		<!-- Mapeamento das Entidades -->
		<mapping class="com.edsonrczarneski.drogaria.domain.Cidade" />
		<mapping class="com.edsonrczarneski.drogaria.domain.Cliente" />
		<mapping class="com.edsonrczarneski.drogaria.domain.Estado" />
		<mapping class="com.edsonrczarneski.drogaria.domain.Fabricante" />
		<mapping class="com.edsonrczarneski.drogaria.domain.Funcionario" />
		<mapping class="com.edsonrczarneski.drogaria.domain.ItemVenda" />
		<mapping class="com.edsonrczarneski.drogaria.domain.Pessoa" />
		<mapping class="com.edsonrczarneski.drogaria.domain.Produto" />
		<mapping class="com.edsonrczarneski.drogaria.domain.Usuario" />
		<mapping class="com.edsonrczarneski.drogaria.domain.Venda" />

	</session-factory>

</hibernate-configuration>
